[Desktop Entry]
Name=Update Helper Notifier
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=updatehelpernotifier
X-KDE-DBus-ModuleName=updatehelpernotifier
X-KDE-Kded-autoload=true
