[Desktop Entry]
Name=Notification Helper
Name[bg]=Помощник за уведомления
Name[bs]=Pomoćnik u napominjanju
Name[ca]=Auxiliar per a les notificacions
Name[ca@valencia]=Auxiliar per a les notificacions
Name[da]=Bekendtgørelseshjælper
Name[de]=Hilfsprogramm für Benachrichtigungen
Name[el]=Βοηθός ειδοποιήσεων
Name[en_GB]=Notification Helper
Name[eo]=Atentighelpilo
Name[es]=Ayudante de notificaciones
Name[et]=Märguannete abiline
Name[eu]=Jakinarazpen Laguntzailea
Name[fi]=Ilmoitusavustaja
Name[fr]=Assistant Notifications
Name[gl]=Axudante de notificacións
Name[hu]=Értesítéssegéd
Name[id]=Penunjang notifikasi
Name[it]=Assistente alle notifiche
Name[km]=កម្មវិធី​​ជំនួយ​ការ​ជូន​ដំណឹង
Name[ko]=알림 도우미
Name[lt]=Pranešimų pagelbiklis
Name[lv]=Paziņojumu palīgs
Name[mr]=सूचना मदतकर्ता
Name[ms]=Pembantu Pemberitahuan
Name[nb]=Varslingshjelper
Name[nl]=Notificatiehelper
Name[nn]=Hjelpar for varslingar
Name[oc]=Assistent de notificacions
Name[pl]=Pomocnik powiadamiania
Name[pt]=Assistente de notificação
Name[pt_BR]=Auxiliar de notificações
Name[ro]=Ajutor pentru notificări
Name[ru]=Помощник уведомлений
Name[sk]=Pomocník oznámení
Name[sl]=Pomočnik za obveščanje
Name[sq]=Ndihmues i Njoftimeve
Name[sr]=Помоћник за обавештења
Name[sr@ijekavian]=Помоћник за обавјештења
Name[sr@ijekavianlatin]=Pomoćnik za obavještenja
Name[sr@latin]=Pomoćnik za obaveštenja
Name[sv]=Aviseringshjälpprogram
Name[tr]=Bilgilendirme Yardımcısı
Name[ug]=ئۇقتۇرۇش ياردەمچىسى
Name[uk]=Допоміжні сповіщення
Name[x-test]=xxNotification Helperxx
Name[zh_CN]=通知助手
Name[zh_TW]=通知輔助程式
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=notificationhelper
X-KDE-FactoryName=notificationhelper
X-KDE-DBus-ModuleName=notificationhelper
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
