Source: kubuntu-notification-helper
Section: kde
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Jonathan Thomas <echidnaman@kubuntu.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libkf5config-dev,
               libkf5configwidgets-dev,
               libkf5coreaddons-dev,
               libkf5dbusaddons-dev,
               libkf5i18n-dev,
               libkf5kio-dev,
               libkf5notifications-dev,
               libkf5service-dev,
               libkf5windowsystem-dev,
               libkf5xmlgui-dev,
               libkubuntu-dev (>= 15.04),
               libqapt-dev (>= 3.0.0),
               pkg-kde-tools (>= 0.15.3ubuntu7)
Standards-Version: 3.9.5
Homepage: https://www.kubuntu.org

Package: kubuntu-notification-helper
Architecture: any
Depends: konsole | x-terminal-emulator,
         kubuntu-driver-manager,
         python3-dbus,
         qapt-batch,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: apport-kde | apport-gtk
Description: Kubuntu system notification helper
 Kubuntu Notification Helper is a daemon that presents various notifications
 to the user. It uses the KDE Daemon system as a base and presents the
 notifications using the KDE Notification system. It also includes a
 System Settings module for configuring the daemon. Kubuntu Notification
 Helper is lightweight and fully integrated with KDE.
 .
 Current features include:
  - Notifications for Apport crashes.
  - Notifications for upgrade information, when available.
  - Notifications for the availability restrictively-licensed packages.
  - Notifications for when upgrades require a reboot to complete.
  - All notifications can be hidden temporarily or permanently.

Package: kubuntu-notification-helper-dbg
Section: debug
Architecture: any
Priority: extra
Depends: kubuntu-notification-helper (= ${binary:Version}), ${misc:Depends}
Description: Kubuntu Notification Helper debugging symbols
 This package contains debugging symbols for Kubuntu Notification Helper.
 When Kubuntu Notification Helper crashes, in most cases this package is
 needed to get a backtrace that is useful for developers. If you have
 experienced a Kubuntu Notification Helper crash without this package
 installed, please install it, try to reproduce the problem and fill a bug
 report with a new backtrace attached.
