[Desktop Entry]
Exec=kcmshell5 kcm_notificationhelper
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_notificationhelper
X-KDE-ParentApp=kcontrol

X-KDE-Keywords=Notify,Alerts,Notification,popups
X-KDE-Keywords[bg]=Notify,Alerts,Notification,popups
X-KDE-Keywords[bs]=Notify,Alerts,Notification,popups,Notifikacije, Alarmi
X-KDE-Keywords[ca]=Notifica,Alertes,Notificació,finestres emergents
X-KDE-Keywords[ca@valencia]=Notifica,Alertes,Notificació,finestres emergents
X-KDE-Keywords[de]=Benachrichtigen,Warnungen,Benachrichtigung,Hinweise
X-KDE-Keywords[el]=Ειδοποιώ,συναγερμοί,ειδοποίηση,αναδυόμενα
X-KDE-Keywords[en_GB]=Notify,Alerts,Notification,popups
X-KDE-Keywords[es]=Notificar,Alertas,Notificación,Emergentes
X-KDE-Keywords[et]=Teavitamine,Alarmid,Teavitus,hüpikaknad
X-KDE-Keywords[eu]=Jakinarazi,Alerta,Jakinarazpen,popup
X-KDE-Keywords[fi]=Notify,Alerts,Notification,popups,ilmoitus,hälytys,ponnahdusilmoitukset
X-KDE-Keywords[fr]=notifier, alertes, notification, fenêtres contextuelles
X-KDE-Keywords[gl]=Notificar,Avisos,Notificacións,xanelas_emerxentes
X-KDE-Keywords[hu]=Értesítő,Riasztások,Értesítés,felugrók
X-KDE-Keywords[id]=Beritahu,Peringatan,Notifikasi,sembulan
X-KDE-Keywords[it]=Notificare,avvisi,notifiche,finestre a comparsa
X-KDE-Keywords[km]=ជូន​ដំណឹង​,ការ​ជូនដំណឹង​,សេចក្តី​ជូនដំណឹង​,បង្អួច​លេចឡើង
X-KDE-Keywords[ko]=Notify,Alerts,Notification,popups,알림,팝업
X-KDE-Keywords[lv]=Paziņot,paziņojumi,uznirstoši,brīdinājumi
X-KDE-Keywords[mr]=सूचना,चेतावणी,सूचना,पोपअप
X-KDE-Keywords[ms]=Makluman,Amaran,Pemberitahuan,dialog timbul
X-KDE-Keywords[nb]=Varsle,Alarm,Varslinger,oppsprett
X-KDE-Keywords[nl]=Melden,Waarschuwingen,Melding,pop-ups
X-KDE-Keywords[oc]=Notificar,Alèrtas,Notificacion,popups,infobullas
X-KDE-Keywords[pl]=Powiadom,Alerty,Powiadomienia,okna wysuwne
X-KDE-Keywords[pt]=Notifique,Alertas,notificação,popups
X-KDE-Keywords[pt_BR]=Notificar,Alertas,Notificação,popups
X-KDE-Keywords[ru]=Сообщения,Предупреждения,Уведомления,Всплывающие окна
X-KDE-Keywords[sk]=Oznam,Poplach,Oznámenie,vyskakovacie okná
X-KDE-Keywords[sl]=Obvestilo,Opozorila,Obvestila,pojavna okna
X-KDE-Keywords[sq]=Njofto,Njoftime,Njoftim,popups
X-KDE-Keywords[sr]=Notify,Alerts,Notification,popups,обавештење,аларм,искакач
X-KDE-Keywords[sr@ijekavian]=Notify,Alerts,Notification,popups,обавештење,аларм,искакач
X-KDE-Keywords[sr@ijekavianlatin]=Notify,Alerts,Notification,popups,obaveštenje,alarm,iskakač
X-KDE-Keywords[sr@latin]=Notify,Alerts,Notification,popups,obaveštenje,alarm,iskakač
X-KDE-Keywords[sv]=Avisera,Upplysningar,Avisering,popups
X-KDE-Keywords[tr]=Bildir,Uyarılar,Bildirim,açılır pencereler
X-KDE-Keywords[uk]=Notify,Alerts,Notification,popups,сповіщення,повідомлення,контекстні,вікна
X-KDE-Keywords[x-test]=xxNotifyxx,xxAlertsxx,xxNotificationxx,xxpopupsxx
X-KDE-Keywords[zh_CN]=Notify,Alerts,Notification,popups,通知,警告,报警,警报,弹出,提示
X-KDE-Keywords[zh_TW]=Notify,Alerts,Notification,popups,通知,警告,彈出
X-KDE-System-Settings-Parent-Category=notification
X-KDE-Weight=60

Name=Other Notifications
Name[bg]=Други уведомления
Name[bs]=Druge napomene
Name[ca]=Altres notificacions
Name[ca@valencia]=Altres notificacions
Name[de]=Andere Benachrichtigungen
Name[el]=Άλλες ειδοποιήσεις
Name[en_GB]=Other Notifications
Name[eo]=Aliaj atentigoj
Name[es]=Otras notificaciones
Name[et]=Teised teavitused
Name[eu]=Beste jakinarazpenak
Name[fi]=Muut ilmoitukset
Name[fr]=Autres notifications
Name[gl]=Outras notificacións
Name[hu]=Egyéb értesítések
Name[id]=Notifikasi lainnya
Name[it]=Altre notifiche
Name[km]=ការ​ជួន​ដំណឹង​ផ្សេង​ៗ
Name[ko]=기타 알림
Name[lv]=Citi paziņojumi
Name[mr]=इतर सूचना
Name[ms]=Pemberitahuan Lain
Name[nb]=Andre varslinger
Name[nl]=Overige meldingen
Name[oc]=Autras notificacions
Name[pl]=Inne powiadomienia
Name[pt]=Outras Notificações
Name[pt_BR]=Outras notificações
Name[ro]=Alte notificări
Name[ru]=Прочие уведомления
Name[sk]=Iné oznámenia
Name[sl]=Druga obvestila
Name[sq]=Njoftime të Tjera
Name[sr]=Друга обавештења
Name[sr@ijekavian]=Друга обавјештења
Name[sr@ijekavianlatin]=Druga obavještenja
Name[sr@latin]=Druga obaveštenja
Name[sv]=Övriga aviseringar
Name[tr]=Diğer Bildirimler
Name[ug]=باشقا ئۇقتۇرۇشلار
Name[uk]=Інші сповіщення
Name[x-test]=xxOther Notificationsxx
Name[zh_CN]=其他通知
Name[zh_TW]=其他通知
Comment=Control the notifications for system helpers
Comment[bg]=Контрол на уведомленията за системните помощници
Comment[bs]=Kontroliše napomene za sistemske pomagače
Comment[ca]=Controleu les notificacions dels auxiliars del sistema
Comment[ca@valencia]=Controleu les notificacions dels auxiliars del sistema
Comment[de]=Benachrichtigungen für Systemhelfer festlegen
Comment[el]=Ελέγξτε τις ειδοποιήσεις για τη βοήθεια του συστήματος
Comment[en_GB]=Control the notifications for system helpers
Comment[eo]=Kontroli la atentigojn por sistemhelpiloj
Comment[es]=Controla las notificaciones para los ayudantes del sistema
Comment[et]=Kontrolli teavitusi süsteemi abistajate jaoks
Comment[eu]=Kontrolatu sistemaren laguntzaileen jakinarazpenak
Comment[fi]=Järjestelmäavustajien ilmoitusten hallinta
Comment[fr]=Contrôler les notifications pour les assistants du système
Comment[gl]=Controla as notificacións para os axudantes do sistema
Comment[hu]=Rendszersegédek értesítéseinek felügyelete
Comment[id]=Kendali notifikasi untuk sistem penunjang
Comment[it]=Controlla le notifiche per l'assistente al sistema
Comment[km]=ត្រួតត្រា​ការ​ជួនដំណឹង​ សម្រាប់​កម្មវិធី​ជំនួយ​ប្រព័ន្ធ
Comment[ko]=시스템 도우미 알림 설정
Comment[lv]=Pārvaldiet sistēmas palīgu paziņojumus
Comment[mr]=प्रणाली मदतकर्त्यांकरिता सूचना नियंत्रीत करा
Comment[ms]=Kawal pemberitahuan untuk pembantu sistem
Comment[nb]=Styr varslinger for systemhjelpere
Comment[nl]=Beheer de meldingen van de systeemhelpers
Comment[oc]=Contraròtla las notificacions del sistèma
Comment[pl]=Sterowanie powiadomieniami dla systemowych pomocników
Comment[pt]=Controlo de notificações para sistema de ajudas
Comment[pt_BR]=Controlar as notificações para os auxiliares de sistema
Comment[ro]=Controlează notificările pentru ajutoarele de sistem
Comment[ru]=Управление уведомлениями системных помощников
Comment[sk]=Ovládanie oznámení pre systémových pomocníkov
Comment[sl]=Nadzorujte obvestila sistemskih pomočnikov
Comment[sq]=Kontrollo njoftimet e ndihmuesve të sistemit
Comment[sr]=Управљајте обавештењима за системске помоћнике
Comment[sr@ijekavian]=Управљајте обавјештењима за системске помоћнике
Comment[sr@ijekavianlatin]=Upravljajte obavještenjima za sistemske pomoćnike
Comment[sr@latin]=Upravljajte obaveštenjima za sistemske pomoćnike
Comment[sv]=Styr aviseringar för systemhjälpprogram
Comment[tr]=Sistem yardımcıları için bildirimleri kontrol et
Comment[ug]=سېستىما ياردەمچىسىنىڭ ئۇقتۇرۇشىنى چەكلە
Comment[uk]=Керування сповіщеннями системи
Comment[x-test]=xxControl the notifications for system helpersxx
Comment[zh_CN]=控制系统助手的通知行为
Comment[zh_TW]=控制系統輔助程式的通知

Categories=Qt;KDE;X-KDE-settings-sound;
